<section id="passwordTab">
    <h4>Change password</h4>
    <form name="changePassword">
        <div class="form-item-1" ng-class="{ 'has-error' : submitted && changePassword.$invalid , 'empty': !vm.password}">
            <label class="label">New password</label>
            <input name="password" type="text" class="input-text" ng-model="vm.password" id="password" placeholder="Password" required>
        </div>
        <div class="form-item-1" ng-class="{ 'has-error' : submitted && articleForm.content.$invalid , 'empty': !vm.confirmPassword}">
            <label class="label">Confirm new password</label>
            <input name="confirm_password" type="text" class="input-text" ng-model="vm.confirmPassword" id="confirm-password" placeholder="Confirm new password" compare-to="vm.password" required>
        </div>
        <div class="form-item-1">
            <button type="submit" class="btn rnd-btn red lg" ng-click="vm.updatePassword(changePassword.$valid);">Update password</button>
        </div>
    </form>
</section>
