<section id="eventsTab" ng-controller="EventsController as vm" class="full-height" ng-init="vm.find()">
    <div class="top">
        <div class="search-banner">
            <div class="title">stack events</div>
            <div class="tag-btn" ng-click="showTags=!showTags">
                <i class="fa fa-tags"></i>
            </div>
            <div ng-include="'events-filters'"></div>
        </div>
    </div>
    <div class="date-top">
        <div class="center">
            <div id="events-date-title">{{vm.headerDate | date: 'MMM d, yyyy'}}</div>
        </div>
    </div>
    <div class="middle" scroll s-down="vm.loadMore()" s-all="vm.fixedHeader()" ng-class="{anchor: vm.anchor, 'with-timeline': vm.histogram.length > 1}">
        <div ng-include="'subscribe'"></div>
        <div class="events middle-content">
            <div ng-if="vm.docs.length == 0 && !vm.busy" id="ev-no-data" class="text-center">
                <img ng-src="/stacks/assets/img/empty-stacks.jpg" alt="not-found" />
                <span class="clear clearfix no-found-text">No events logged</span>
            </div>
            <div ng-repeat="event in vm.docs">
                <div class="group-title date" ng-class="{show: event._created !== vm.docs[$index -1]._created}">
                    <hr/>
                    <div class="group-title-label">{{::event._source.created | date: 'MMM d, yyyy'}}</div>
                </div>
                <div class="group-title session" id="{{sessionKey}}" ng-class="{show: event._source.session !== vm.docs[$index -1]._source.session}">
                    <hr/>
                    <div class="group-title-label">{{::event._source.session}}</div>
                </div>
                <div class="event" id="{{$index}}">
                    <div class="wrapper-icon" ng-include="'icon-template'"></div>
                    <div class="e-content">
                        <div ng-include="'e-title'"></div>
                        <div ng-include="::event.template" ng-class="::event._source.subtype || event._source.type" class="e-template"></div>
                    </div>
                </div>
            </div>
            <div ng-show="vm.busy" class="loader red">Loading...</div>
        </div>
    </div>
    <div class="bottom" ng-if="vm.histogram.length > 1">
        <a href="" ng-show="vm.showScrollDown" ng-click="vm.scrollToBottom()">SCROLL DOWN</a>
        <timeline data="vm.histogram" on-change="vm.timelineChange(range)"></timeline>
    </div>
</section>
<!-- ########################################################################################### -->
<!-- ==================================== EVENTS FILTER ========================================= -->
<!-- ########################################################################################### -->
<script type="text/ng-template" id='events-filters'>
    <div class="packages-filter" ng-show="showTags">
        <div ng-repeat="key in vm.eventsKeys" class="pkg">
            <div class="key">
                <div class="icon din" ng-style="{'background-color': vm.design[key.key].icon_col}"><i class="fa {{vm.design[key.key].icon}}"></i></div>
                <div class="din">{{::key.key}}</div>
            </div>
            <div ng-repeat="name in key.actions.buckets" class="names" ng-if="name.doc_count > 0">
                <div class="name">
                    <div class="din">{{::name.key}}</div>
                    <div class="din">- {{name.doc_count}}</div>
                    <div class="wrapper-checkbox">
                        <input type="checkbox" name="cb-{{key.key}}-{{name.key}}" ng-model="name.checked" id="cb-{{key.key}}-{{name.key}}" ng-change="vm.nameChecked(key.key, 'sts_no_sub_type', name.key, name.checked);" ng-disabled="vm.busy" />
                        <label for="cb-{{key.key}}-{{name.key}}"></label>
                    </div>
                </div>
            </div>
            <div ng-repeat="_key in key.subtypes.buckets">
                <div class="key">
                    <div class="icon din" ng-style="{'background-color': vm.design[_key.key].icon_col || vm.design[key.key].icon_col}"><i class="fa {{vm.design[_key.key].icon || vm.design[key.key].icon}}"></i></div>
                    <div class="din">{{::_key.key}}</div>
                </div>
                <div ng-repeat="name in _key.actions.buckets" class="names">
                    <div class="name">
                        <div class="din">{{::name.key}}</div>
                        <div class="din">- {{name.doc_count}}</div>
                        <div class="wrapper-checkbox">
                            <input type="checkbox" name="cb-{{key.key}}-{{_key.key}}-{{name.key}}" ng-model="name.checked" id="cb-{{key.key}}-{{_key.key}}-{{name.key}}" ng-change="vm.nameChecked(key.key, _key.key, name.key, name.checked);" />
                            <label for="cb-{{key.key}}-{{_key.key}}-{{name.key}}"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
