<div class="col-xs-12 m-t-lg">
    <div class="col-md-8 border-gray-right">
        <div class="text-center container">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                 width="132.000000pt" height="132.000000pt" viewBox="0 0 132.000000 132.000000"
                 preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,132.000000) scale(0.050000,-0.050000)"
                   fill="#7cb65b" stroke="none">
                    <path d="M1041 2610 c-1371 -311 -1364 -2294 9 -2580 776 -162 1586 462 1590
                                                                1225 l0 65 -128 0 -127 0 -14 -112 c-141 -1125 -1688 -1283 -2055 -210 -248
                                                                724 423 1504 1173 1364 l120 -22 105 104 106 105 -125 37 c-170 50 -489 62
                                                                -654 24z"/>
                    <path d="M1750 1720 l-560 -560 -205 205 -205 204 -95 -95 -95 -96 297 -292
                                                                297 -292 661 661 660 660 -85 78 c-47 42 -91 79 -98 82 -6 3 -264 -247 -572
                                                                -555z"/>
                </g>
            </svg>
            <div class="ng-hide" ng-show="backup.count > 0">
                <div class="m-t-lg"><h4><strong>All backed up!</strong></h4></div>
                <div class="clearfix">
                    <span>Available backups ({{backup.count}}). Recent Backup: {{latest_backup * 1000 | date:'dd/MM/yy H:mm' }}</span>
                </div>
            </div>
            <div class="ng-hide" ng-show="backup.count == 0">
                <div class="m-t-lg"><h4><strong>No available backups on {{backup.date | date:'dd/MM/yy' }}. </strong></h4></div>
                <div class="clearfix">
                    <span>Recent Backup: {{latest_backup * 1000 | date:'dd/MM/yy H:mm' }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div style="display:inline-block;" class="" id="backups-calendar">
            <datepicker ng-model="backup.date" ng-required="true" max-date="backup.maxDate" min-date="backup.minDate" show-weeks="false" class="datepicker" custom-class="backup.getDayClass(date, mode)"></datepicker>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 m-t-lg ng-hide" ng-show="backup.count > 0">
        <h4 class="text-left"><strong>Backups on {{backup.date | date:'dd/MM/yy' }}</strong></h4>
        <table ng-repeat="(key, backups) in widget.data" class="table ng-hide" ng-show="key == backup.format_date">
            <thead>
            <tr>
                <td><strong>Time</strong></td>
                <td><strong>File</strong></td>
                <td><strong>Destination</strong></td>
                <td><strong>Size</strong></td>
                <td ng-show="backup.actions"><strong>Actions</strong></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="backup in backups">
                <td>
                    {{backup.timestamp * 1000 | date:'HH:mm:ss'}}
                </td>
                <td>
                    <div ng-repeat="file in backup.file">{{file}}</div>
                </td>
                <td>
                    <div ng-repeat="dest in backup.dest">{{dest | uppercase}}</div>
                </td>
                <td>
                    {{backup.size | bytes: 'MB'}}
                </td>
                <td>
                    <a href="{{backup.links.download}}" target="_blank" class="ng-hide" ng-show="backup.links.download"><i class="fa fa-cloud-download"></i></a>
                    <a href="{{backup.links.restore}}" target="_blank" class="ng-hide" ng-show="backup.links.restore"><i class="fa fa-reply-all"></i></a>
                    <a href="{{backup.links.delete}}" target="_blank" class="ng-hide" ng-show="backup.links.delete"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 m-t-lg ng-hide" ng-show="backup.count == 0">
        <h4 class="text-left"><strong>Latest backups</strong></h4>
        <table class="table">
            <thead>
            <tr>
                <td><strong>Time</strong></td>
                <td><strong>File</strong></td>
                <td><strong>Destination</strong></td>
                <td><strong>Size</strong></td>
                <td ng-show="backup.actions"><strong>Actions</strong></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="backup in backup.data_flat | slice:0:5">
                <td>
                    {{backup.timestamp * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}
                </td>
                <td>
                    <div ng-repeat="file in backup.file">{{file}}</div>
                </td>
                <td>
                    <div ng-repeat="dest in backup.dest">{{dest | uppercase}}</div>
                </td>
                <td>
                    {{backup.size | bytes: 'MB'}}
                </td>
                <td>
                    <a href="{{backup.links.download}}" target="_blank" class="ng-hide" ng-show="backup.links.download"><i class="fa fa-cloud-download"></i></a>
                    <a href="{{backup.links.restore}}" target="_blank"><i class="fa fa-reply-all" class="ng-hide" ng-show="backup.links.restore"></i></a>
                    <a href="{{backup.links.delete}}" target="_blank"><i class="fa fa-trash" class="ng-hide" ng-show="backup.links.delete"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>