<div id="stack-people" ng-controller="StackPeopleController as vmp">
    <div class="content-side">
        <div class="cell-container">
            <div class="header">
                <span class="stack-logo platform" ng-class="stack.platform"></span>
                <div class="info-head">
                    <div class="left">
                        <h3>{{stack.data.title}}</h3>
                        <span class="url">{{vms.stack.host}}</span>
                    </div>
                    <div class="middle">

                        <div class="tags">
                            <angucomplete-alt id="tag-input"
                                              pause="300"
                                              selected-object="addTag"
                                              local-data="search_tags"
                                              local-search-async="localSearch"
                                              title-field="value"
                                              description-field="desc"
                                              minlength="1"
                                              input-class="tag-input"
                                              match-class="highlight" ng-if="show_taginput"
                            />
                            <span ng-if="!show_taginput" ng-click="showInputTags()" class="add-tag"><i class="fa fa-plus"></i></span>
                            <ul ng-if="vms.stack.tags">
                                <li ng-repeat="tag in vms.stack.tags">{{tag.value}} <i class="fa fa-times" ng-click="removeTag(tag)"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right">
                    XXX
                </div>
            </div>
            <div class="content-block">
                <div class="title"><h3>People</h3></div>
                <pre>{{vms.stack.collaborators | json:2}}</pre>
            </div>
        </div>
    </div>
</div>